fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
redis[hiredis]>=4.2.0
pydantic-settings
psycopg2-binary
pytest
pytest-asyncio
httpx
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
celery
